/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #000 url('./static/img/bg.jpg') 50% 0 no-repeat;
  background-size: cover;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  align-self: center;
}

.App {
  padding: 0 24px;
  height: 100%;
  text-align: center;
}

.countdown {
  display: flex;
  height: 100%;
  color: #FFF;
}
